.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 130px auto 50px auto;
  grid-template-areas:
    "name image"
    "title image"
    "subhead image"
    "button image"
    "flex-container flex-container";

  padding: 50px;
  box-sizing: border-box;
  @include plugFont;

  @include mediaTablet;
  @media screen and (max-width: 1279px) {
    padding: 20px;
  }

  &_type_course {
    grid-template-areas:
      "title image"
      "subhead image"
      "button image";
    grid-template-rows: 260px auto 50px;
    @include mediaTablet;
    @media screen and (max-width: 1279px) {
      grid-template-areas:
        "title"
        "image"
        "subhead"
        "button";
    }
  }

  &_type_composition {
    background-color: $color-yellow;
    @include mediaTablet;
  }

  &_type_camera {
    background-color: $color-black;
    color: $color-white;
    grid-template-rows: 70px 370px auto 471px;

    grid-template-areas:
      "name image"
      "title image"
      "subhead image"
      "flex-container flex-container";
    @include mediaTablet;
    @media screen and (max-width: 1279px) {
      grid-template-areas:
        "name"
        "title"
        "image"
        "subhead"
        "flex-container";
    }
  }

  &_type_search {
    grid-template-areas:
      "name ."
      "title ."
      "image subhead"
      "image button";
    grid-template-rows: 80px 130px auto 50px;
    justify-content: space-between;
    @include mediaTablet;
    @media screen and (max-width: 1279px) {
      grid-template-areas:
        "name"
        "title"
        "image"
        "subhead"
        "button";}
  }

  &__name {
    grid-area: name;
    @include text-reset;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    box-sizing: border-box;
    @media screen and (max-width: 750px) {
      font-size: 14px;
      line-height: 20px;
      border-top: 1px solid $color-black;
      margin-top: 17px;
      padding-top: 20px;
    }
    &_type_camera {
      @media screen and (max-width: 750px) {
        border-top: 1px solid $color-white;
      }
    }
  }
  &__header {
    grid-area: title;
    @include text-reset;
    font-weight: 400;
    font-size: 100px;
    line-height: 110px;
    @media screen and (max-width: 1279px) {
      margin-top: 4px;
    }
    @media screen and (max-width: 750px) {
      font-size: 47px;
      line-height: 52px;
      margin: 0;
    }
    &_type_composition {
      font-size: 64px;
      line-height: 64px;
      width: 80%;

    @media screen and (max-width: 1279px) {
      margin-top: 2px;
      margin-bottom: 17px;
    }
      @media screen and (max-width: 750px) {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 28px;
      }
    }
    &_type_camera {
      font-size: 122px;
      line-height: 122px;
      @media screen and (max-width: 1279px) {margin-top: 1px;}
      @media screen and (max-width: 750px) {
        font-size: 48px;
        line-height: 56px;
      }
    }
    &_type_search {
      width: 550px;
      font-size: 64px;
      line-height: 64px;
      @media screen and (max-width: 750px) {
        font-size: 32px;
        line-height: 38px;
        width: 100%;
      }
    }
  }
  &__subheader {
    grid-area: subhead;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 28px;
    @include text-reset;
    margin-top: 95px;
    @media screen and (max-width: 1279px) {
      margin: 0;
    }

    @media screen and (max-width: 750px) {
      width: 100%;
      gap: 36px;
      font-size: 14px;
      line-height: 18px;
    }
    
    &_type_camera {
      text-transform: uppercase;
      align-self: end;
    }
    &_type_search {
      width: 380px;
      margin-left: calc(100% - 380px);
      margin-top: 125px;
      @media screen and (max-width: 1279px) {
        margin: 0;
        margin-top: 27px;
      }
      @media screen and (max-width: 750px) {
        width: 100%;
        margin-top: 32px;
      }
    }
  }
  &__text {
    @include text-reset;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    @media screen and (max-width: 750px) {
      font-size: 14px;
      line-height: 18px;
    }
    &_type_course {
      font-size: 20px;
      margin-top: 20px;
      @media screen and (max-width: 1279px) {
        margin: 0;
      }

      @media screen and (max-width: 750px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  &__bold-text{

    font-weight: 700;
  }
  &__image {
    grid-area: image;
    justify-self: end;
    width: 96%;
    @media screen and (max-width: 1279px) {
      width: 100%;
    }
    &_type_course{
      @media screen and (max-width: 1279px) {
      margin: 20px 0;}
      @media screen and (max-width: 750px) {
      margin: 32px 0;}
    }
    &_type_composition{
      @media screen and (max-width: 1279px) {
      max-height: 685px;
    margin-bottom: 20px;}
    @media screen and (max-width: 750px) {
    max-height: 400px;
  margin-bottom: 30px;}
  @media screen and (max-width: 400px) {
  max-height: 278px;}
    }
    &_type_camera {
      @media screen and (max-width: 1279px) {
      margin-top: 17px;
      margin-bottom: 20px;
      max-height: 656px;
      object-fit: cover;
      object-position: top;}
      @media screen and (max-width: 750px) {
        margin-top: 28px;
        margin-bottom: 35px;
        max-height: 268px;
      }
    }
    &_type_search {
      justify-self: start;
      margin-top: 105px;
      @media screen and (max-width: 1279px) {
        margin-top: 17px;
        max-height: 360px;
      }
      @media screen and (max-width: 750px) {
        margin-top: 34px;
      }
    }
  }

  &__link {
    @include links-reset;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    grid-area: button;
    align-self: end;
    width: 228px;
    height: 49px;
    border: 2px solid $button-color;
    border-radius: 24px;
    box-sizing: border-box;
    @include flex-center;
    background-color: $button-background-color;
    @media screen and (max-width: 1279px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 750px) {
      width: 169px;
      height: 40px;
      font-size: 14px;
      line-height: 28px;
      margin: 0;
    }

    &:hover {
      font-weight: 500;
    }

    &:visited {
      color: $font-color;
    }
    &_type_search {
      margin-left: calc(100% - 380px);
      @media screen and (max-width: 1279px) {
        margin: 0;
        margin-top: 20px;
      }
      @media screen and (max-width: 750px) {
        margin: 0;
      }
    }
  }
  &__flex-container {
    grid-area: flex-container;
    @include ul-reset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
    margin-top: 100px;
    @include mediaFlex;
    @media screen and (max-width: 1279px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 750px) {
      margin-top: 50px;
      gap: 15px;
    }

    &_type_camera {
      grid-template-columns: repeat(2, 1fr);
      @include mediaFlex;
      margin-top: 180px;
      gap: 55px;
      @media screen and (max-width: 1279px) {
        margin-top: 110px;
      }
      @media screen and (max-width: 750px) {
        margin-top: 30px;
      }
    }
  }
  &__flex-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;

    &:last-child {
      @media screen and (max-width: 1279px) {
        border-bottom: none;
        padding: 0;
      }
    }

    @media screen and (max-width: 1279px) {
      border-bottom: 1px solid $color-black;
      padding-bottom: 30px;
    }
    @media screen and (max-width: 750px) {
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 12px;
      width: 98%;

    }
    &_type_camera {
      margin-right: calc(100% - 513px);
      @media screen and (max-width: 1279px) {
        border-bottom: 1px solid $color-white;
        margin-right: 0;
        margin-top: 30px;
        padding-bottom: 60px;
      }
      @media screen and (max-width: 750px) {
        width: 100%;
        padding-bottom: 29px;
        margin: 0;
      }
    }
  }
  &__quote {
    @include text-reset;
    font-weight: 400;
    font-size: 43px;
    line-height: 43px;
    @media screen and (max-width: 1279px) {
      max-width: 75%;
    }

    @media screen and (max-width: 750px) {
      max-width: 100%;
      font-size: 24px;
      line-height: 26px;
    }
  }
  &__student {
    @include text-reset;
    margin-top: 60px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    @media screen and (max-width: 750px) {
      font-size: 14px;
      line-height: 20px;
    margin-top: 30px;}
  }
  &__social-network {
    @include text-reset;
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    @media screen and (max-width: 750px) {
      font-size: 12px;
      line-height: 12px;
    margin-top: 6px;}
  }
}
