@import "../modules/variables";

.footer {
  background-color: $footer-background-color;
  &__logo {
    @include text-reset;
    @include plugFont;
    padding: 50px;
    box-sizing: border-box;
    color: $color-white;
    @media screen and (max-width: 1279px) {
      padding: 40px;
    }
  }
}
