@import "../modules/variables";
@import "../modules/mixins";

.register {
  background-color: $register-background-color;
  color: $color-white;
  &__arrow {
    background-image: url(../../images/arrow.svg);
    width: 129px;
    height: 95px;
  }
  &__header {
    @include text-reset;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
    width: 700px;
  }
  &__email {
    @include plugFont;
  }
}
