@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin links-reset {
  text-decoration: none;
  color: $color-black;
}

@mixin text-reset {
  margin: 0;
  padding: 0;
}

@mixin plugFont {
  font-family: "Roboto", Arial, sans-serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mediaTablet {
  @media screen and (max-width: 1279px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "title"
      "image"
      "subhead"
      "button"
      "flex-container";
    gap: 40px;
    padding: 40px;
  }
  @media screen and (max-width: 750px) {
    padding: 20px;
  }
}
@mixin mediaFlex {
  @media screen and (max-width: 1279px) {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 20px;
  }
}
@mixin rotateKeyframe {
  @keyframes rotation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
