$color-red: #df2626;
$color-grey: #fbfbfb;
$color-black: #000;
$color-white: #fff;
$color-yellow: #ffce00;

$header-background-color: $color-red;
$footer-background-color: $color-red;
$button-background-color: $color-white;
$register-background-color: $color-red;

$header-font-color: $color-grey;
$font-color: $color-black;

$button-color: $color-black;
